#main {
    margin-top: 50px;
}

ul.ui-autocomplete {
    color: black !important;
    padding-top: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    opacity: 0.9;
    position: fixed;
    background: rgb(73,195,34);
    background: linear-gradient(0deg, rgba(73,195,34,0.15348837209302324) 0%, rgba(45,253,151,0.32093023255813957) 100%);
    
}

#ui-id-14{
    margin-top: 10px;
}